.ajout{

    display: flex;
    background-color: violet;
    border-radius: 5px;
    color: azure;
    width: 100px;
    height: auto;
}

.btn{

    color: red;
    font-size: 30px;
}

.btn:hover{

    color: yellow;
}