.btn{

    background-color: cornflowerblue;
    color: yellow;
    margin-left: 10px;
}
.navigation{

    text-align: center;
}

.text{

    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card{

    background-color: cornflowerblue;
    border-radius: 10px;
    width: 250px;
    height: 28rem;
}