ul{
    
    display: flex;
    border: 2px slateblue solid;
    justify-content: space-evenly ;
    color: cornflowerblue;
    background-color: violet;
    font-size: 25px;

}

a{

    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: yellowgreen;
    
}